@model MvcTurbine.Diagnostic.ViewModels.Diagnostic.IndexViewModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>Diagnostic</title>
	<style type="text/css">
		body {
			font: 12px/120% Tahoma;
			margin: 1em;
			padding: 0;
		}
		.item {
			margin-bottom: 1em;
			padding: 0.5em;
		}
		.True {
			border-left: 15px solid #090;
		}
		.False {
			border-left: 15px solid #c00;
		}
		.item .name {
			font-size: 16px;
			font-weight: bold;
		}
		.item .info {
		}
	</style>
</head>
<body>
	<h1>Diagnostics</h1>
	@Html.DisplayFor(x => x.DiagnosticResults)
</body>
</html>
